<mat-form-field class="dynamic-detail__section dynamic-form__component" [formGroup]="group">
  <textarea
    [formControlName]="formConfig.name"
    [placeholder]="formConfig.label"
    class="dynamic-form__component-text-area-lg"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    (change)="triggerResize()"
    matInput
  ></textarea>
  <ng-container
    *ngFor="let validation of formConfig.validations"
    ngProjectAs="mat-error"
  >
    <mat-error *ngIf="group.get(formConfig.name).hasError(validation.name)">{{
      validation.message
    }}</mat-error>
  </ng-container>
</mat-form-field>
